nifi/Generate_Data.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a6b13c6a-0182-1000-2416-7a7173c07860</groupId>
    <name>Generate Data</name>
    <snippet>
        <processGroups>
            <id>c9f8ca4c-0fcb-350e-0000-000000000000</id>
            <parentGroupId>95fa21d6-500e-3a85-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>17a9e49f-5852-371d-0000-000000000000</id>
                    <parentGroupId>c9f8ca4c-0fcb-350e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c9f8ca4c-0fcb-350e-0000-000000000000</groupId>
                        <id>e8dc51ad-0258-3b1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c9f8ca4c-0fcb-350e-0000-000000000000</groupId>
                        <id>eef97e0d-f53e-308a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1ad196f2-d156-3287-0000-000000000000</id>
                    <parentGroupId>c9f8ca4c-0fcb-350e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c9f8ca4c-0fcb-350e-0000-000000000000</groupId>
                        <id>eef97e0d-f53e-308a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c9f8ca4c-0fcb-350e-0000-000000000000</groupId>
                        <id>53b1ef9f-51e1-3865-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7e6ac7d4-a775-319f-0000-000000000000</id>
                    <parentGroupId>c9f8ca4c-0fcb-350e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c9f8ca4c-0fcb-350e-0000-000000000000</groupId>
                        <id>8451ac6d-e551-38b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c9f8ca4c-0fcb-350e-0000-000000000000</groupId>
                        <id>e8dc51ad-0258-3b1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>53b1ef9f-51e1-3865-0000-000000000000</id>
                    <parentGroupId>c9f8ca4c-0fcb-350e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-469.877094627721</x>
                        <y>-345.99896755597035</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>2 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>8451ac6d-e551-38b2-0000-000000000000</id>
                    <parentGroupId>c9f8ca4c-0fcb-350e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1232.0</x>
                        <y>-216.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-transactions</propertyName>
    </dependencies>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>
    <name>Failure Strategy</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>test-topic</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>Route to Failure</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>all</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_2_6</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                </processors>
                <processors>
                    <id>e8dc51ad-0258-3b1b-0000-000000000000</id>
                    <parentGroupId>c9f8ca4c-0fcb-350e-0000-000000000000</parentGroupId>
                    <position>
                        <x>698.122905372279</x>
                        <y>-33.99896755597035</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>meterId, meterValue</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>eef97e0d-f53e-308a-0000-000000000000</id>
                    <parentGroupId>c9f8ca4c-0fcb-350e-0000-000000000000</parentGroupId>
                    <position>
                        <x>90.12290537227898</x>
                        <y>-145.99896755597035</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>meterId</key>
<value>
    <name>meterId</name>
</value>
                            </entry>
                            <entry>
<key>meterValue</key>
<value>
    <name>meterValue</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>meterId</key>
<value>${random():mod(10):plus(1)}</value>
                            </entry>
                            <entry>
<key>meterValue</key>
<value>${random():mod(1000):plus(1):toDecimal():divide(100)}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Generate Data</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/16/2022 15:40:42 UTC</timestamp>
</template>
